html{
    height: 100vh;
    margin: auto;
}

.heading{
    text-align: center;
    color: rgba(0,0,0,0.8);
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0 10px 0;
}

#name{
    color: darkgreen;
}

#about{
    display: flex;
    justify-content: center;
    height: 300px;
    margin-bottom: 20px;
}

img{
    background-color: whitesmoke;
}

.socials{
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}

#contact{
    text-align: center;
}

.title{
    text-align: center;
    font-weight: 700;
    color: #040467;
}

a:hover{
    padding: 1px;
    background-color: red;
}