html{
    height: 100vh;
    margin: auto;
}

.heading{
    text-align: center;
    color: rgba(0,0,0,0.8);
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 70px 0 20px;
}

#name{
    color: darkgreen;
}

#about{
    display: flex;
    justify-content: center;
    height: 300px;
    margin-bottom: 20px;
}

img{
    background-color: whitesmoke;
}

.socials{
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}

.title{
    text-align: center;
    font-weight: 700;
    color: #040467;
}

a:hover{
    padding: 1px;
    background-color: red;
}

.card{
    margin: 2px;
    padding: 6px;
    overflow: auto;
}

#contact-one{
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 5px;

}

.row{
    margin: 10px;
}