html{
    height: 100vh;
    margin: auto;
}

.heading{
    text-align: center;
    color: rgba(0,0,0,0.8);
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 70px 0 20px;
}

#name{
    color:#998F03;
}

#about{
    display: flex;
    justify-content: center;
    height: 300px;
    margin-bottom: 20px;
}

img{
    background-color: whitesmoke;
}

.socials{
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}

.title{
    text-align: center;
    font-weight: 700;
    color: #040467;
}


.card{
    padding: 10px;
    /* overflow: auto; */
    background-color: rgba(189,186,151, 0.05);
    
}

#contact-one{
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 10px;

}

.row{
    margin-top: 10px;
    margin-bottom: 50px
}

.bg-dark{
    opacity: 0.85;
}

.card-title{
    color:#998F03;
    text-align: center;
}

.btn{
    background-color: #A8B8BD;
}

li{
    text-align: center;
}


#jumpstock{
    position: relative;
}

#stockup{
    background-color: rgba(245, 245, 245, 0.9);
    position: absolute;
    display: none;
    border-radius: 7px;
}

#igallery{
    position: relative;
}

#igaler{
    background-color: rgba(245, 245, 245, 0.9);
    position: absolute;
    display: none;
    border-radius: 7px;
}

#instaclone{
    
    position: relative;
}

#insta{
    background-color: rgba(245, 245, 245, 0.9);
    position: absolute;
    display: none;
    border-radius: 7px;
}

#sharefeed{
    position: relative;
}

#share{
    background-color: rgba(245, 245, 245, 0.9);
    position: absolute;
    display: none;
    border-radius: 7px;
}

#githubsearch{
    position: relative;
}

#search{
    background-color: rgba(245, 245, 245, 0.9);
    position: absolute;
    display: none;
    border-radius: 7px;
}

#fundi{
    position: relative;
}

#mtaani{
    background-color: rgba(245, 245, 245, 0.9);
    position: absolute;
    display: none;
    border-radius: 7px;
}
